* ,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 200px;
    perspective: 800px;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 250px 0px;
    position: relative;
}
.box {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    color: white;
    animation: rotateY 30s linear infinite;
    transform-origin: 150px 150px 150px;
    transform: rotateX(0deg) rotateY(0deg);
    user-select: none;
    cursor: grab;
    anchor-name: --act;

}
.surface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}
.back {
    background-color: blue;
    transform: rotateY(180deg);
}
.front {
    background-color: green;
    transform: translateZ(300px);
}
.left {
    background-color: rgb(35, 0, 92);
    transform-origin: left;
    transform: rotateY(-90deg);
}
.right {
    background-color: rgb(196, 78, 0);
    transform-origin: right;
    transform: rotateY(90deg);
}
.top {
    background-color: rgb(180, 0, 196);
    transform-origin: top;
    transform: rotateX(90deg);
}
.bottom {
    background-color: rgb(0, 196, 154);
    transform-origin: bottom;
    transform: rotateX(-90deg);
}
.sprite {
    position: absolute;
    top: 150px;
    left: -71px;
    width: 71px ;
    height: 123px ;
    background-image: url(./smur-sprite.png);
    background-position: 0px 0px;
}
.spr_front {
    animation: smurf 0.7s steps(16) infinite,
    go 14s linear infinite ;
}
.spr_right {
    animation: smurf 0.7s steps(16) infinite,
    go 14s 3.5s linear infinite ;
}
.spr_back {
    animation: smurf 0.7s steps(16) infinite,
    go 14s 7s linear infinite ;
}
.spr_left {
    animation: smurf 0.7s steps(16) infinite,
    go 14s 10.5s linear infinite ;
}
.active__filter {
    width: 500px;
    height: 500px;
    position-anchor: --act;
    position: absolute;
    left: anchor(left);
    top: anchor(top);
    transform: translateX(-100px) translateY(-150px);
    cursor: grab;
}
@keyframes smurf {
    100% {
        background-position: -1136px 0px ;
    }
}
@keyframes go {
    100% {
        transform: translateX(1520px);
    }
}
@media (max-width: 400px) {
    .active__filter, .box {
        scale: 0.4;
    }
    body {
        padding-top: 15vh;
    }
}
